@font-face
{
    font-family: digit;
    src: url('../assets/digital-7mono.ttf') format("truetype");
}
html,
body
{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background:#ffe;
    overflow:hidden;
}
#main_div
{
    visibility: hidden;
    z-index: 2;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
#content
{
    flex-direction: row;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
}